| ラジオネーム→
= @user.radio_name
= "\n"
= "\n"
= @post.content
= "\n"
= "\n"
| 〒
= @user.postcode
= "\n"
| 住所：
= @user.address
= "\n"
| 本名：
= @user.full_name
| (
= @user.age + "歳 " + @user.gender
| )
= "\n"
| 電話番号：
= @user.tel
