= render "programs/search_results/search_bar"
= render "programs/table", programs: @programs if @programs.any?

br
= link_to "ユーザーページを確認する", user_path(current_user.id) if current_user
br
= link_to 'New Program', new_program_path
