body,
p,
ol,
ul,
td {
  line-height: 18px;
  font-size: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
}

a {
  color: dimgray;
  text-decoration: underline;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f3f3f3;
  color: dimgray;
}

pre {
  padding: 10px;
  background-color: #eee;
  font-size: 11px;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

h2 {
  line-height: 1.3em;
}

.field,
.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
  margin: 5px 0px;
}

#alert {
  color: #ff367f;
}

#flash_alert {
  margin: -5px 8px 10px 8px;
  color: #ff367f;
}

.field_with_errors {
  width: 96%;
  padding: 2px;
  display: table;
  background-color: red;
}

#error_explanation {
  width: 95%;
  margin-bottom: 20px;
  padding: 7px 7px 0;
  background-color: #f0f0f0;
  border: 2px solid red;
}

#error_explanation h2 {
  margin: -7px -7px 0;
  padding: 5px 5px 5px 15px;
  background-color: #c00;
  text-align: left;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}

#error_explanation ul {
  list-style: square;
  font-size: 12px;
  margin-left: 25px;
  padding: 0px;
}

#error_explanation ul li {
  list-style: square;
  font-size: 12px;
}

label {
  display: block;
}

.pagination {
  height: 30px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center; 
  line-height: 20px;
  text-align: center;
}

.pagination_item {
  width: 30px;
  height: 30px;
  margin: 0px 8px;
  background-color: white;
  line-height: 30px;  
  border: solid 1px;
  border-radius: 3px;
}

.current_page_item {
  background-color: #0066cc;
  border-color: #0066cc;
}

.pagination a {
  display: block;
  text-decoration: none;
}

.pagination span {
  font-weight: bold;
  color: white;
}

.contents {
  width: 94%;
  max-width: 700px;
  margin: auto;
  padding-top: 5px;
  flex-grow: 1;
}

.back_link {
  margin: 0px 0px 15px 8px;
}

.text_center {
  text-align: center;
}
