.footer_links {
  height: 70px;
  margin: 20px 0px 0px 0px;
  padding: 5px 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  background-color: #cccccc;
}

.footer_link {
  width: 100%;
  text-align: center;
}

.footer_bottom {
  height: 25px;
  width: 100%;
  padding: 6px 0px;
  background-color: #f3f3f3;
  text-align: center;
  line-height: 25px;
  color: #acacac;
}
