.form_area {
  width: 95%;
  max-width: 400px;
  height: 90%;
  margin: 25px auto;
  margin-bottom: 30px;
  padding: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid;
  border-color: dimgray;
  border-radius: 3px;
}

.form_area h2 {
  margin-left: 8px;
}

.form_item {
  width: 96%;
  height: 60px;
  margin: 0px auto 30px auto;
  font-size: 14px;
}

.form_submit_area {
  margin-bottom: 10px;
}

.form_input {
  width: 96%;
  height: 50px;
  box-sizing: border-box;
  padding: 1px 8px;
  font-size: 16px;
  &::placeholder {
    position: relative;
    left: 0em;
    color: #aab7c4;
  }
}

::placeholder {
  position: relative;
  left: 0em;
  color: #aab7c4;
}

.form_textbox {
  width: 96%;
  margin: auto auto 20px auto;
  font-size: 14px;
}

select {
  width: 96%;
  height: 50px;
  padding: 7px 30px 7px 10px;
  background-repeat: no-repeat;
  background-size: 12px 10px;
  background-position: right 10px center;
  background-color: white;
  border: 1px solid;
  border-color: dimgray;
  border-radius: 1px;
  line-height: 1.1em;
  font-size: 16px;
}

.button,
.word_search_button,
.timetable_button,
.post_button {
  -webkit-appearance: button;
  appearance: button;
  width: 96%;
  height: 50px;
  box-sizing: border-box;
  padding: 1px;
  background-color: #0066cc;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  &::-webkit-search-decoration {
    display: none;
  }
  &::focus {
    outline-offset: -2px;
  }
}
