.header {
  height: 10%;
  padding-right: 10px;
  display: flex;
  align-items: center;
  background-color: #f8da5b;
  border-bottom: 1px solid;
  border-color: #f8b500;
}

.header_logo {
  width: 100%;
  padding-left: 10px;
}

.header_logo img {
  width: 150px;
  margin: 10px 0px;
}

.header_logo :hover {
  background: transparent;
}

.header_logo :active {
  background: rgb(207, 204, 204);
}

.header_menu {
  height: 100%;
  width: 100%;
  margin-right: -10px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: dimgray;
  font-size: 14px;
}

.header_link a {
  height: 20px;
  display: block;
  padding: 6px;
  line-height: 20px;
  text-decoration: none;
}
