| ラジオネーム：
= user.radio_name
br
| 本名：
= user.full_name
| （
= user.age
| 歳  
= user.gender
| ）
br
| 電話番号：
= user.tel
br
| 郵便番号：
= user.postcode
br
| 住所：
= user.address
br
| メールアドレス：
= user.email
h4
  | 本アカウント情報は
  = @user.radio_name
  | 様がラジオにメールを送信する際のみに使用され、
  br
  | 他の目的で使用されることはありません
  = link_to "（プライバシーポリシー）"
