body,
p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

a {
  color: dimgray;
  text-decoration: underline;
}

body {
  background-color: #f3f3f3;
  color: #333;
  margin: 0;
  height: 100%;
  width: 100%;
}

.header {
  background-color: #f8da5b;
  display: flex;
  align-items: center;
  height: 10%;
  padding-right: 10px;
  border-bottom: 1px solid;
  border-color: #f8b500;
}

.header_logo {
  width: 100%;
  padding-left: 10px;
}

.header_logo img {
  width: 150px;
  margin: 10px 0px;
}

.header_logo :hover {
  background: transparent;
}

.header_logo :active {
  background: rgb(207, 204, 204);
}

.header_menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 3px;
  font-size: 14px;
  margin-right: -10px;
  color: dimgray;
}

.header_link a {
  display: block;
  height: 20px;
  padding: 6px;
  line-height: 20px;
  text-decoration: none;
}

.header_link :link,
:visited,
:hover,
:active {
  color: dimgray;
}

.header_link :hover {
  background: transparent;
  color: dimgray;
}

.second_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cccccc;
  margin: 0px;
  width: 100%;
  height: 110px;
}

.top_image {
  width: 100%;
  max-width: 700px;
  margin: 0px auto 0px auto;
  text-align: center;
  img {
    width: 100%;
    max-width: 700px;
  }
}

.contents {
  width: 94%;
  max-width: 700px;
  padding-top: 5px;
  margin: auto;
}

.form_area {
  width: 95%;
  max-width: 400px;
  height: 90%;
  margin: 25px auto;
  margin-bottom: 30px;
  border: 1px solid;
  border-color: dimgray;
  border-radius: 3px;
  padding: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    margin-left: 8px;
  }
}

.form_item {
  width: 96%;
  height: 60px;
  margin: 0px auto 30px auto;
  font-size: 14px;
}

.form_bottom_item {
  margin-bottom: 10px;
}

.form_input {
  width: 96%;
  height: 50px;
  padding: 1px;
  font-size: 16px;
}

.form_textbox {
  width: 96%;
  margin: auto;
  margin-bottom: 20px;
  font-size: 14px;
}

.back_link {
  margin-left: 8px;
}

.button,
.search_button,
.timetable_button,
.post_button {
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  width: 96.5%;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #0066cc;
  border: none;
  padding: 1px;
  &::-webkit-search-decoration {
    display: none;
  }
  &::focus {
    outline-offset: -2px;
  }
}

select {
  width: 98%;
  height: 50px;
  padding: 7px 30px 7px 10px;
  font-size: 16px;
  line-height: 1.1em;
  border: 1px solid;
  border-color: dimgray;
  border-radius: 1px;
  background-repeat: no-repeat;
  background-size: 12px 10px;
  background-position: right 10px center;
  background-color: white;
}

.search_area {
  display: flex;
  justify-content: center;
  margin: 10px auto 0px auto;
  height: 40px;
  width: 94%;
  form {
    width: 100%;
  }
}

.search_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto auto 20px auto;
  width: 100%;
  max-width: 700px;
}

.search_input {
  width: 76%;
  height: 30px;
  font-size: 14px;
  border-radius: 1px;
  border-right: none;
}

.timetable_area {
  display: flex;
  justify-content: center;
  width: 94%;
  margin: 10px auto;
  height: 40px;
  form {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.timetable_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
}

.timetable_wday_select,
.timetable_time_select {
  display: block;
  background-color: white;
  height: 37px;
  font-size: 14px;
}

.timetable_wday_select {
  width: 25%;
}

.timetable_time_select {
  width: 45%;
}

.search_button,
.timetable_button {
  width: 20%;
  height: 30px;
  color: white;
  padding: 3px 0px 3px 0px;
  border-radius: 2px;
  border-left: none;
}

.timetable_button {
  background-color: #444444;
}

.table_area {
  width: 100%;
  margin: auto;
}

.table_items {
  border: solid;
}

.table_item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border: 1px solid;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
}

.table_item_value {
  width: 98%;
}

.program_icon {
  width: 100%;
}

.program_bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.program_heading {
  font-weight: bold;
  margin: 5px 0px;
}

.program_location {
  display: flex;
  line-height: 24px;
  color: dimgray;
}

.program_datetime {
  margin-left: 20px;
}

.program_airtime {
  color: #ff367f;
}

.star_area {
  border-top: 1px solid;
  border-color: #dddddd;
  color: dimgray;
  margin: -16px;
  margin-top: 8px;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-weight: bolder;
}

.star img {
  width: 40%;
  height: 40%;
  max-width: 30px;
  max-height: 30px;
  margin-right: 20px;
}

.program_detail_star {
  border-top: 1px solid #dddddd;
  margin: -6px auto 10px auto;
  background-color: white;
}

.program_detail_area {
  line-height: 24px;
  margin: 10px auto 0px auto;
}

.program_title,
.radio_mail_title {
  font-size: 20px;
  margin: 5px 0px 10px 0px;
  font-weight: bold;
}

.program_image {
  width: 100%;
}

.program_line {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 0.6px dashed;
  border-color: #b8860b;
  padding: 5px 0px;
}

.program_column {
  width: 33%;
  font-weight: bold;
  line-height: 30px;
}

.program_value {
  width: 66%;
  line-height: 20px;
}

.radio_mail_title {
  margin-top: 30px;
}

.warning {
  color: #ff367f;
  margin: 10px 0px 20px 0px;
}

.corner_form_box {
  width: 100%;
  border: 1px solid;
  border-color: #b8860b;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #ffffee;
}

.post_column {
  font-weight: bold;
  width: 95%;
  margin: auto;
  margin-top: 20px;
  font-size: 14px;
  color: dimgray;
}
.post_corner_title {
  font-size: 16px;
}

.post_field {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.post_input {
  width: 94%;
  min-height: 40px;
  line-height: 20px;
  font-size: 14px;
  border: 1px solid;
  border-color: dimgray;
  border-radius: 3px;
  margin: auto;
  padding: 1px;
}

#post_post_mail_setting {
  font-size: 14px;
  width: 95%;
  height: 40px;
  margin-bottom: 10px;
}

.post_button {
  border: none;
  width: 95%;
  margin: 20px 0px;
}

.dummy_button {
  border: none;
  background-color: dimgray;
  width: 95%;
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 20px auto;
  height: 50px;
  line-height: 50px;
  border-radius: 3px;
}

.profile_area {
  display: flex;
  flex-direction: column;
}

.profile_content {
  display: flex;
  align-items: center;
}

.profile_image {
  width: 20%;
  max-width: 100px;
  margin: 0px 30px 0px 0px;
  img {
    width: 100%;
    margin-bottom: 0px;
  }
}

.profile_email {
  color: dimgray;
  font-weight: bold;
}

.profile_button a {
  display: block;
  background-color: #8f8f8f;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  text-decoration: none;
  margin: 5px 0px;
}

.tabs {
  display: flex;
  margin: 0px -3% 20px -3%;
  width: 106%;
}

.tab_icon {
  width: 33.3%;
  text-align: center;
  margin: 0px;
  background-color: #fef298;
}

.tab_icon img {
  height: 25px;
  margin: 8px auto;
  display: block;
}

.selected_icon {
  background-color: #ffe100;
}

.setting_area {
  margin-bottom: 40px;
}

.sample_mail_area {
  border: 1px solid;
  margin-top: 20px;
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 2px 2px 2px 2px;
}

.mail_title {
  text-align: center;
  background-color: #f3f3f3;
  border-bottom: 1px solid;
  border-color: dimgray;
  font-weight: bolder;
  height: 50px;
  line-height: 50px;
}

.mail_item,
.mail_content {
  margin: 0px 10px;
  color: dimgray;
  border-bottom: 0.5px solid;
  height: 45px;
  line-height: 45px;
  display: flex;
}

.mail_address,
.mail_subject {
  color: #3399ff;
}

.mail_content {
  line-height: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: auto;
  border-bottom: none;
}

.profile_edit_link a {
  display: block;
  background-color: #8f8f8f;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin: 20px 0px 30px 0px;
}

.posted_mail {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid;
  border-radius: 3px;
  margin-bottom: 15px;
  background-color: white;
}

.posted_program_info {
  display: flex;
  align-items: center;
  margin: 5px 0px 5px 5px;
}

.posted_program_image {
  width: 40%;
  max-width: 100px;
}

.posted_program_image img {
  width: 100%;
}

.posted_corner_title {
  margin: 0px 0px 5px 10px;
  line-height: 20px;
}

.posted_mail_content {
  border-top: 1px dashed;
  margin-left: 5px;
  padding-top: 5px;
  line-height: 20px;
}

.posted_datetime {
  margin: 0px 0px 5px 5px;
  line-height: 20px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}
