.profile_area {
  display: flex;
  flex-direction: column;
}

.profile_content {
  display: flex;
  align-items: center;
}

.profile_image {
  width: 20%;
  max-width: 100px;
  margin: 0px 30px 0px 0px;
  img {
    width: 100%;
    margin-bottom: 0px;
  }
}

.profile_email {
  color: dimgray;
  font-weight: bold;
}

.profile_button a {
  display: block;
  background-color: #8f8f8f;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  text-decoration: none;
  margin: 5px 0px;
}

.tabs {
  display: flex;
  margin: 0px -3% 20px -3%;
  width: 106%;
}

.tab_icon {
  width: 33.3%;
  text-align: center;
  margin: 0px;
  background-color: #fef298;
}

.tab_icon img {
  height: 25px;
  margin: 8px auto;
  display: block;
}

.selected_icon {
  background-color: #ffe100;
}

.setting_area {
  margin-bottom: 20px;
}

.sample_mail_area {
  border: 1px solid;
  margin-top: 20px;
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 2px 2px 2px 2px;
}

.mail_title {
  text-align: center;
  background-color: #f3f3f3;
  border-bottom: 1px solid;
  border-color: dimgray;
  font-weight: bolder;
  height: 50px;
  line-height: 50px;
}

.mail_item,
.mail_content {
  margin: 0px 10px;
  color: dimgray;
  border-bottom: 0.5px solid;
  height: 45px;
  line-height: 45px;
  display: flex;
}

.mail_address,
.mail_subject {
  color: #3399ff;
}

.mail_content {
  line-height: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: auto;
  border-bottom: none;
}

.profile_edit_link a {
  display: block;
  background-color: #8f8f8f;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin: 20px 0px 5px 0px;
}

.posted_mail {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid;
  border-radius: 3px;
  margin-bottom: 15px;
  background-color: white;
}

.posted_program_info {
  display: flex;
  align-items: center;
  margin: 5px 0px 5px 5px;
}

.posted_program_image {
  width: 40%;
  max-width: 100px;
}

.posted_program_image img {
  width: 100%;
}

.posted_corner_title {
  margin: 0px 0px 5px 10px;
  line-height: 20px;
}

.posted_mail_content {
  border-top: 1px dashed;
  margin-left: 5px;
  padding-top: 5px;
  line-height: 20px;
}

.posted_datetime {
  margin: 0px 0px 5px 5px;
  line-height: 20px;
}
