.posted_mail {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid;
  border-radius: 3px;
}

.posted_program_info {
  margin: 5px 0px 5px 5px;
  display: flex;
  align-items: center;
}

.posted_program_thumbnail {
  width: 40%;
  max-width: 100px;
}

.posted_program_thumbnail img {
  width: 100%;
}

.posted_corner_title {
  margin: 0px 0px 5px 10px;
  line-height: 20px;
}

.posted_mail_content {
  margin-left: 5px;
  padding-top: 5px;
  border-top: 1px dashed;
  line-height: 20px;
}

.posted_datetime {
  margin: 0px 0px 5px 5px;
  line-height: 20px;
}
