.profile_area {
  display: flex;
  flex-direction: column;
}

.profile_content {
  display: flex;
  align-items: center;
}

.profile_image {
  width: 20%;
  max-width: 100px;
  margin: 0px 30px 0px 0px;
  img {
    width: 100%;
    margin-bottom: 0px;
  }
}

.profile_email {
  color: dimgray;
  font-weight: bold;
}

.profile_button a {
  display: block;
  background-color: #8f8f8f;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  text-decoration: none;
  margin: 5px 0px;
}
