.post_setting_area {
  margin-bottom: 20px;
}

.sample_mail_area {
  margin-top: 20px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px;
  border: 1px solid;
  border-radius: 3px;
  overflow: hidden;
}

.sample_mail_area_title {
  height: 50px;
  background-color: #f3f3f3;
  border-bottom: 1px solid;
  border-color: dimgray;
  text-align: center;
  line-height: 50px;
  font-weight: bolder;
}

.sample_mail_item,
.sample_mail_content {
  height: 45px;
  margin: 0px 10px;
  display: flex;
  border-bottom: 0.5px solid;
  line-height: 45px;
  color: dimgray;
  font-size: 14px;
}

.sample_mail_address,
.sample_mail_subject {
  color: #3399ff;
}

.sample_mail_content {
  height: auto;
  width: 95%;
  margin: 10px 10px 20px 10px;
  box-sizing: border-box;
  border-bottom: none;
  line-height: 16px;
}

.sample_mail_content p {
  width: 100%;
}

.profile_edit_link a {
  display: block;
  margin: 20px 0px 5px 0px;
  padding: 10px 15px;
  background-color: #8f8f8f;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
