.profile_tabs {
  width: 106%;
  margin: 0px -3% 20px -3%;
  display: flex;
}

.profile_tab {
  width: 33.3%;
  margin: 0px;
  background-color: #fef298;
  text-align: center;
}

.profile_tab img {
  height: 25px;
  margin: 8px auto;
  display: block;
}

.profile_tab_selected {
  background-color: #ffe100;
}
