.program_detail_area {
  margin: 10px auto 0px auto;
  line-height: 24px;
}

.program_title,
.radio_mail_title {
  margin: 5px 0px 10px 0px;
  font-size: 20px;
  font-weight: bold;
}

.program_image {
  width: 100%;
}

.program_detail_item {
  width: 100%;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  border-bottom: 0.6px dashed;
  border-color: #b8860b;
}

.program_detail_column {
  width: 33%;
  line-height: 30px;
  font-weight: bold;
}

.program_detail_value {
  width: 66%;
  line-height: 20px;
}

.program_detail_star {
  margin: -6px auto 10px auto;
  background-color: white;
  border-top: 1px solid #dddddd;
}

.posts_area_title {
  margin-top: 30px;
}

.post_alert {
  color: #ff367f;
  margin: 10px 0px 20px 0px;
}

.corner_form_box {
  width: 100%;
  margin-bottom: 20px;
  background-color: #ffffee;
  border: 1px solid;
  border-color: #b8860b;
  border-radius: 4px;
}

.post_column {
  width: 95%;
  margin: 20px auto auto auto;
  color: dimgray;
  font-size: 14px;
  font-weight: bold;
}

.post_corner_title {
  font-size: 16px;
}

.post_field {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.post_input {
  width: 94%;
  min-height: 40px;
  margin: auto;
  padding: 1px;
  border: 1px solid;
  border-color: dimgray;
  border-radius: 3px;
  line-height: 20px;
  font-size: 14px;
}

#post_post_mail_setting {
  width: 95%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 14px;
}

.post_button {
  width: 95%;
  margin: 20px 0px;
  border: none;
}

.dummy_button {
  width: 95%;
  height: 50px;
  margin: 20px auto;
  background-color: dimgray;
  border: none;
  border-radius: 3px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: bold;
}
