.program_table {
  width: 100%;
  margin: auto;
}

.program_card {
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: white;
  border: 1px solid;
  border-radius: 4px;
}

.program_card_items {
  width: 98%;
}

.program_card_thumbnail {
  width: 100%;
}

.program_card_bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.program_card_title {
  margin: 5px 0px;
  font-weight: bold;
}

.program_card_info {
  display: flex;
  line-height: 24px;
  color: dimgray;
}

.program_card_datetime {
  margin-left: 20px;
}

.program_card_airtime {
  color: #ff367f;
}

.program_card_star_area {
  margin: 8px -16px -16px -16px;
  border-top: 1px solid;
  border-color: #dddddd;
  color: dimgray;
}

.star {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.star img {
  width: 40%;
  height: 40%;
  max-width: 30px;
  max-height: 30px;
  margin-right: 20px;
}
